<div ng-controller="pwatimerController">
	<div id="ringerbtn" class="row">
        <div class="col-xs-2">
            <a class="roomlinks" href="#/timera">PW</a>
            <a class="roomlinks" href="#/timerods">ODS</a>
            <!-- <input class="btn btn-secondary" value="PW"type="button">
            <input class="btn btn-secondary" value="ODS"type="button"> -->
        </div>
        <div  class="col-xs-1 col-xs-offset-9">
        <audio id="apwmsg1">
            <source  src="pwmsg1.mp3" type="audio/mpeg">
        </audio>
        <audio id="apwmsg2">
            <source  src="pwmsg2.mp3" type="audio/mpeg">
        </audio>
        <audio id="apwba">
            <source  src="pwba.mp3" type="audio/mpeg">
        </audio>
        <audio id="apwnotif">
            <source  src="notif.mp3" type="audio/mpeg">
        </audio>
        <audio id="apwalarm">
            <source  src="buzzer.mp3" type="audio/mpeg">
        </audio>
            <input timer-directive id="ringer" attr="notif_sound" type="button" class="btn btn-secondary"/>
        </div>
    </div>
		<div class = "row">
			<div id="top" class="col-xs-12">
				<h1 id="header">Professor White</h1>
                <div id="clockbox">
                    <!-- <flip-clock id="apwclock" autoStart="false" countdown="true" clockFace="MinuteCounter"></flip-clock> -->
                    <div id="apwclock" flip-clock>
                    
                    </div>
                    
                </div>
                <div class="form-inline" id="buttonbox">
                    <input class="btn btn-secondary" type="button" value="Start" id="cd_start" ng-click="startClock()" />
                    <!-- <input class="btn btn-secondary" type="button" value="Pause" id="cd_pause" /> -->
                    <input class="btn btn-secondary" type="button" value="Pause"  id="cd_stop" ng-click="stopClock()" />
                    <input class="btn btn-secondary" type="button" value="Reset" id="cd_reset" ng-click="resetClock()"/>
                    <div class="form-group" >
                        <label id="setsecs">Set Minutes:</label>
                        <input class="form-control" type="text" value="60" id="cd_seconds" ng-model="min" ng-change="changeMin()"/>
                    </div>
                </div>
                <div class="row" id="audioarea">
                    <div class="col-xs-3">
                        <div class="form-inline">
                            <div class="form-group">
                                <label id="setvol">Volume:</label>
                                <input class="form-control"  type="text" value="100" id="cd_volume">
                            </div>
                            
                        </div>
                        
                    
                    </div>
    
                    <div class="col-xs-2 col-xs-offset-7">
                        <input timer-directive class="btn btn-secondary" attr="play_pwmsg1" type="button" value="MSG1" id="btn_msg1" />
                        <input timer-directive class="btn btn-secondary" type="button" attr="play_pwmsg2" value="MSG2" id="btn_msg2" />
                    </div>    
                    
                </div>
                </div>
			</div>
        <div class="row">
            <div id="bottom">
                <textarea  class="col-xs-12" ng-model="hints" ng-change="updateHints()"  rows="6" cols="150" id="hints"></textarea>
            </div>
        </div>
</div>
